/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url(fonts/Baskerville.ttc);
}


/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
	display: block;
	color: rgb(152,173,166);
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	padding-bottom: 10px;
	margin: 0 0 5px;
	border-bottom: 1px solid #ccc;
}

img {
	border: 5px rgb(152,173,166) solid;
}

img[href]:hover {
	border: 5px rgb(111,127,122) solid;
}

h2 {
	color: rgb(111,127,122);
	font-size: 2em;
}

p {
	color: #555;
}

a {
	text-decoration: none;
	color: #1783bb;
}

a:hover {
	text-decoration: underline;
}

.footer {
	font-size: 0.8em;
	text-align: right;
}
