/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

#title {
    font-size: 80px;
    color: gray;
}

#image {
    border-style: solid;
    border-width: 4px;
    border-color: gray;
}

#imageLogo {
    border-style: solid;
    border-width: 4px;
    border-color: gray;
    -webkit-transition: border-color 0.5s ease-out 0.0s;
    -moz-transition: border-color 0.5s ease-out 0.0s;
    -o-transition: border-color 0.5s ease-out 0.0s;
    transition: border-color 0.5s ease-out 0.0s;
}

#imageLogo:hover {
    border-color: red;
}

#sectionHeading {
    font-size: 40px;
    color: gray;
}

p.basicParagraph {
    color: gray;
}






